* {
  box-sizing: border-box;
}

@media (max-width: 1600px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}


body {
  position: fixed;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.08rem;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(../fonts/LibreBaskerville-Regular.otf);
}